.mainBody {
  display: grid;
  grid-template-areas: 
  'header header header header header'
  'left main main main main'
  'left main main main main'
  'nav nav nav nav nav'
  'leftb mainb mainb mainb mainb'
  'leftb mainb mainb mainb mainb'
  'footer footer footer footer footer';
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  }
  
img{
  max-width: 10%;
  height: auto;

}

.dataPoint > img {
  margin: 5%;
  font-size: 2px;
}

img:hover {
  transform: scale(5); 
  box-shadow: 1px 1px 10px black;
}


#logIn{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 33.33%;
  height: auto;
  margin: 33.33%;
  position: fixed;
  bottom:0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}

#updateForm{
  display: flex;
  grid-area: left;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  bottom:0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}

#newDataPoint{
  display: flex;
  grid-area: leftb;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  bottom:0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}

table{
  grid-area: main;
}

h1{
  grid-area: header;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;

}

#dataTimeline {
  display: flex;
  flex-direction: column;
  grid-area: mainb;
  max-width: 100%;
  justify-content: space-around;
  margin: 5%;

}

.dataPoint > button {
  width: 25%;
  float: right;
}

nav {
  grid-area: nav;
}

.left {
  float: left;
}

.right {
  float: right;
}

h4 {
  font-size: 100%;
}

.dataPoint {
  max-width: 100%;
  margin: 10px;
}