body{
    background-color: bisque;
    margin: 20px;
}

header {
    text-align: right;
    margin-bottom: 10px;
}

footer{
    text-align: center;
}


img {
    max-width: 360px;
    height: auto;
}

form {
    margin-right:30%;
    margin-left:30%;
}

input{
    float: right;
}

.col-sm-8 {
    margin-left:30%;
}
.row{
    text-align:center;
}