body{
    background-color: bisque;
    margin: 20px;
}

header {
    text-align: right;
    margin-bottom: 10px;

}

nav {
    border-radius: 2px;
    box-shadow:1px 1px 10px black;
}

footer{
    text-align: center;
    border-radius: 2px;
    box-shadow:1px 1px 30px black;
}

button {
    max-width: 360px;
    height: auto;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 10px black;
    float: left;
}

.left {
    float: left;
}

.right {
    float: left;
    font-weight: bold;
}

p {
    font-family: sans-serif;
    padding-left:10%;
}

img {
    max-width: 360px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

form {
    margin-right:30%;
    margin-left:30%;
}

input{
    float: right;
}

.col-sm-8 {
    padding-left:34px;
    
}

.row{
    text-align:center;
    max-width: fit-content;

}