body{
    background-color: bisque;
    margin: 20px;
}

header {
    text-align: right;
}

footer{
    text-align: center;
}

a:hover{
    background-color: bisque;
    border-color: #343a40;
}
img {
    max-width: 360px;
    height: auto;
}

form {
    margin-right:30%;
    margin-left:30%;
}

.row {
    margin-right:30%;
    margin-left:30%;
}